/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  font-family: var(--main-font-family);
  padding: 10px;
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  bottom: 10px;
  left: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  top: 10px;
  right: 10px;
}

.decoration-item-rec {
  position: absolute;
  top: 10px;
  right: 38px;
  font-size: 18px;
  line-height: 25px;
}

.decoration-item-rec::before {
  content: 'REC';
}

.decoration-item-rec::after {
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 42px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px 2px #fff;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  line-height: 18px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  width: 70px;
  height: 26px;
}

.header__title {
  font-size: var(--h1-size);
  text-shadow: 4px 4px 0 #fff;
  font-weight: bold;
  line-height: 82.5%;
}

.header__text {
  align-self: center;
  font-weight: bold;
  line-height: 23.4px;
  font-size: 18px;
}
