/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  font-family: var(--main-font-family);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
}

.decoration-item-rec {
  position: absolute;
  top: 10px;
  right: 38px;
  font-size: var(--main-text-size);
  line-height: 25px;
}

.decoration-item-rec::before {
  content: 'REC';
  color: var(--decoration-color);
}

.decoration-item-rec::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 42px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding-bottom: 6px;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-color);
}

.header__title {
  color: var(--h1-color);
  font-weight: var(--bold-font);
  font-size: var(--h1-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  align-self: center;
  color: var(--heading-color);
  font-weight: var(--bold-font);
  font-size: var(--main-text-size);
  line-height: var(--main-text-lh);
  background-color: var(--accent-color);
}

/* Основной контент */

.content {
  padding: 40px 10px 20px;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
}

.content__title {
  margin-bottom: 20px;
  color: var(--content-title-color);
  font-size: var(--main-text-size);
}

.content__title_background {
  color: var(--heading-color);
  background: var(--accent-color);
}

.content__section:not(:last-of-type) {
  margin-bottom: 50px;
}

.content__article {
  margin-bottom: 20px;
}

.content__article-title {
  margin-bottom: 10px;
  color: var(--heading-color);
  font-size: var(--main-text-size);
  background-color: var(--accent-color);
}

.content__article-title_normal-weight {
  font-weight: var(--normal-font);
}

.content__article-text {
  margin-top: 10px;
  color: var(--article-text-color);
  line-height: var(--main-text-lh);
}

.content__article-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content__article-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--article-text-color);
}

.content__article-link:focus-visible {
  outline: 1px solid var(--article-text-color);
}

/* Галерея */

.content__gallery-title {
  color: var(--heading-color);
  background: var(--accent-color);
  font-size: var(--main-text-size);
}

.content__gallery {
  margin-top: 10px;
  display: grid;
  gap: 10px;
}

.content__gallery-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* футер */

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  font-family: var(--main-font-family);
}

.footer__title {
  justify-self: center;
  align-self: center;
  line-height: 82.5%;
  font-size: var(--h1-size);
  color: var(--h1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
