/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --h1-color: #db00ff;
  --bg-color: #000028;
  --decoration-color: #ff0070;
  --nav-color: #ff0070;
  --content-title-color: #ff0070;
  --heading-color: #000028;
  --article-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-text-size: 18px;
  --main-text-lh: 23.4px;
  --bold-font: bold;
  --normal-font: normal;
}

@media (width >= 768px) {
  :root {
    --h1-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
